$bg-color: #fafafc;
$header-color: #32383f;
$font-color: #aaacb0;
$bg-color-alt: #ffffff;
$bar-bg-color: #686a6f;
$icons-color: #f96163;
$font-color-alt: #c2c3c5;
$font-size: 20px;
$font-stack: 'Open Sans', sans-serif;